body {
    font-family:Raleway;
    background-color: #0820a9;
    color: #00f6e6;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Abril Fatface";
    text-align: center;
}
h1 {
    font-size: 40pt;
}

h2 {
    margin: 1em;
}

header {
    text-align: center;
}

#hero, footer {
    color: #00f6e6;
    border: 10px solid #fa7331;
    background-color: #a71700;
    text-align: center;
    padding: 10px;
}

/*Hero Section */

#hero img {
    width:300px;
}

/*Bio Section*/

#bio {
    text-align: center;
}

#bio img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border: solid black 2px;
}

/*Hobbies Section*/

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(odd){
    color: #0820a9;
}

#hobbies ul li:nth-child(even){
    color:white;
}

#hobbies {

    border: 5px groove black;
    border-radius: 18px;
    background-color: #0820a9;
    box-shadow: 10px 10px 10px 10px black;
    background-image: radial-gradient(#fa7331,#a71700);

}

/*Gallery Section*/

#gallery {
    border: 5px groove black;
    border-radius: 15px;
}

#gallery img {
    max-width: 100%;
}

#gallery img:hover {
    border: solid black 3px;
}

#gallery figure {
    text-align: center;
}

#gallery {
    background-image: radial-gradient(#fa7331,#a71700);
}

#gallery {
    color: black;
}

#gallery h2 {
    color: #00f6e6;
}

/*Literature*/

#lit {
    border: 5px groove #000;
    border-radius: 15px;

}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p{
    padding: 0.3rem 0;
}

#lit img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Dropcaps*/

#lit div p:first-child:first-letter {
    color:white;
    background-image: radial-gradient(black, #fa7331);
    float:left;
    font-size: 5em;
    margin-right: .25em;
    padding: 5 rem;
    line-height: .75;
    border: 4px solid black;
    border-radius: 75px;

}

/* links */

a {
    color: #00f6e6;
}

a:visited {
    color: white; 
}

/* tablet size */
@media screen and (min-width: 60em) {

    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    #lit div {
        max-width: 100%;
        columns: 40rem;
    }   
}

/* large screen size */

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

}

/* Embedded Video */

#video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

#video iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

#formElements {
    display: grid;
    row-gap: .5em;
}

/* form */

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2em auto;

}

fieldset {
    border: 2px solid #fa7331;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 3rem;
}

legend {
    background-color: #a71700;
    color: white;
    padding: .5em;
    border-radius: 2rem; 
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem; 
}

#contact button {
    background-color: #a71700;
    color: white;
    border: 1px solid #fa7331;
    max-width: 400px;
    width: 50%;
    justify-self: center;
    border-radius: 2rem;
}

#message {
    resize:vertical;
    max-height: 200px;
}

#contact input, #message {
    border: 1px solid #fa7331;
}

#contact button:hover {
    background-color: #fa7331;
    color: black;
}
