body {
    font-family:Raleway;
    background-color: #AD0011;
    color: #82FA9D;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Abril Fatface";
    text-align: center;
}
h1 {
    font-size: 40pt;
}

header {
    text-align: center;
}

#hero, footer {
    color: #3DAD56;
    border: 10px solid #3DAD56;
    background-color:#FF9EA8;
    text-align: center;
    padding: 10px;
}

#hero img {
    width:400px;
}

#bio {
    text-align: center;
}

#hobbies ul li:nth-child(odd){
    color: #000;
}

#hobbies ul li:nth-child(even){
    color:white;
}

#hobbies {

    border: 5px groove black;
    border-radius: 18px;
    background-color: #FF9EA8;
    box-shadow: 10px 10px 10px 10px black;
    background-image: radial-gradient(#AD0011, white);

}




}